body {
    font-family: Arial, sans-serif;
    background-image: url(fundo1.jpg);
}
#question {
    
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    background-color: white;
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
}
.answer {
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    background-color: blueviolet;
    color: white;
    margin: 5px;
    border-radius: 5px;
    width: 250px;
}
#fundo{
    background-color: white;
    margin-top: 5%;
    margin-left: 25%;
    margin-right: 25%;
    padding: 5%;
    border-radius: 40px;
}
#quiz-container{
    border: blueviolet solid;
    padding: 30px;
    border-radius: 10px;
}
h1{
    text-align: center;
    margin-top: -30px;
    color: blueviolet;
    text-shadow: black 2px 2px 2px;
    text-transform: uppercase;
    font-family: Berlin Sans FB;
    font-size: 70px;
}
h2{
    text-align: center;
    margin-top: -30px;
    color: rgb(169, 109, 224);
    text-shadow: black 2px 2px 2px;
    text-transform: uppercase;
    font-family: Berlin Sans FB;
    font-size: 40px;
}
p{
    font-size: 30px;
}
button:hover{
    background-color: rgb(107, 22, 185);
}
#results{
    text-align: center;
    background-color: white;
    margin-top: 5%;
    margin-left: 25%;
    margin-right: 25%;
    padding: 5%;
    border-radius: 40px;
}