.fundo{
    max-width: 70%;
    margin: auto;
    background: #ffffffb6;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

button{
    font-size: 40px;
    font-family: Bahnschrift SemiCondensed;
    padding: 8px;
    margin: 20px auto;
    width: 600px;
}
