.fundo{
    max-width: 70%;
    margin-left: 20%;
    margin-right: 20%;
    background: #ffffffe7;
    padding: 10px;
    padding-top: 70px;
    padding-bottom: 143px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1{
    font-size: 40px;
    font-family: Bahnschrift SemiCondensed;
    text-shadow: white 2px 2px 2px;
    text-transform: uppercase;
}

button{
    font-size: 30px;
    font-family: Bahnschrift SemiCondensed;
    padding: 8px;
    margin: 15px auto;
    width: 500px;
    background-color: rgba(13, 66, 128, 0.904);
    text-shadow: black 3px 3px 3px;
    color: white;
}

body{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 130px;
    min-height: 100%;
}